
/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: normal 1em/1.5 sans-serif;
	color: #0a0b0c;
	background-color: #fff;
}
img {
	border: solid 1px;
	padding: 5px;
}
.main-nav {
	color: #fff;
	background-color: #222; 
}
.side-bar {
	color: #000;
	background-color: #ccc;
}
.main-footer {
	color: #fff;
 	background-color: #222;
}
	
/* Main Layout Styles
================================ */

.main-nav a {
	display: block;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
}
.main-nav li {
	width: 30%;
	display: inline-block;
	padding: 0;
}
.side-bar {
	font-size: 90%;
	text-align: center;
}
.side-bar a {
	display: block;
	text-decoration: none;
	padding: 10px 20px;
}
.side-tab a {
	color: black;
}
.main-active,
.main-nav a:hover {
	color: #FFF4E4;
	background-color: #FFAD34;
	text-shadow: 0 0 2px #000;
}
.side-active,
.side-bar a:hover  { 
	color: #080603;
	background-color: #aaa; 
}
.main-footer {
	text-align: center;
	margin-top: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
}

.main-footer a {
	color: #fff;
}

.main-content ul {
	list-style-type: disc;
	padding-left: 15px;
}

/* Set beginning tabs. Hide all except Home related */
.side-tab {
	display: none;
}

.home {
	display: inline-block;
}

@media (min-width: 768px) { 

	/* Main Layout Styles
	================================ */
	body {
		padding-top: 0px;
	}
	.nav-container {
		position: static;
		top: 300;
		width: 100%;
		text-align: center;
		padding-top: 0;
	}
	.main-nav {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		z-index: 1000;
	}
	.main-nav li {
		width: 15%;
		display: inline-block;
		padding: 0;
	}
	
	.side-active {
		color: white;
	}
	.side-bar {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		list-style-type: none;
		padding: 0;
		overflow: hidden;
		z-index: 1000;
	}
	
	.side-bar li {
		display: inline-block;
		padding: 0;	
	}
	.fixed  {
		position: fixed;
	}
	.main-banner {
		background: #dfe2e4 url("http://lorempixel.com/1600/500");
		padding-top: 90px;
		text-align: center;
		color: white;
		width: 100%;
		height: 300px;
		text-shadow: 0 0 5px #000;
	}
	
	/* Offset for side bar */
	.main-content {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.f-nav-container {
		z-index: 1000;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.f-footer
	{
		z-index: 1001;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}	

	/* Imagery
	================================ */

	.feat-img {
		width: 45%;
		float: left;
		margin: 5px 20px 10px 0;
	}

}

@media (max-width: 900px) {
	.main-nav {
		font-size: 70%;
	}
	.side-bar {
		font-size: 60%;
	}
}

@media (min-width: 1px) and (max-width: 767px)  {
	.main-nav li {
		margin-top: 12px;
	}
}